@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
h2{
    margin-bottom: 15px;
}

p, input, label {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}
hr{
    margin: 30px;
}
.titulo{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;}
.tit-texto{
    height: 100px;
    display: flex;
    align-items: center;}
.tit-texto h1{
    margin-left: 30px;}
.tit-linea{
    height: 10px;
    background: linear-gradient(to right, rgba(213,0,19,1) 0%,rgba(165,0,22,0.96) 81%,rgba(165,0,22,0.95) 99%);}

.configuracion, .modelo{
    margin: 30px;
}
.input-corto{
    text-align: center;
    width: 50px;
}

@media print {
    @page {     margin:1cm;}
    @page:top-left { display: none;}
    .titulo, .configuracion, .modelo{
        display: none;
    }

}
.anchotxt{
    width: 70%;
}

.modelo-caja{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 19cm;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0.5cm;
    height: 8cm;
    page-break-inside: avoid;
    background:linear-gradient(to right, #ecebeb, #dfdfdf);
}
.modelo-caja-interna{
    width: 100%;
    height: 100%;
    padding: 0.5cm;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.renglon-0{
    display: flex;
    flex-direction: column;
}
.renglon-1{
    display: flex;
    justify-content: space-between;
}
.renglon-1-2{
    text-align: right;
}
.renglon-m{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.renglon-f{
    display:flex;
    flex-direction: column;
    justify-content: end;
}




